.container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}

h1 {
    text-align: center;
    margin: 20px 0 10px 0;
}

.item {
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    padding: 0 10px;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.spaceb {
    justify-content: space-between;
}

.spacea {
    justify-content: space-around;
}

.column {
    min-height: 200px;
    flex-direction: column;
}